{%extends "layout.html"%}
{%block body%}

<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        {% for i in range((size)) %}
        <!-- Featured Project Row-->
        {% if i%3==0 %}
        {% set fname='/assets/img/' + posts[i].img%}
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{url_for('static',filename= fname)}}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>{{posts[i].heading}}</h4>
                    <p class="text-black-50 mb-0">{{posts[i].description}}</p>
                    <p style="color:rgb(134, 134, 134);font-size:10px;padding-top: 1rem;">Posted by:-{{users[i]}}<br/>Posted on:-{{posts[i].date}}</p>
                    
                </div>
            </div>
        </div>
        {% elif i%3==1 %}
        <!-- Project One Row-->
        {% set fname='/assets/img/' + posts[i].img%}
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{{url_for('static',filename=fname)}}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">{{posts[i].heading}}</h4>
                            <p class="mb-0 text-white-50">{{posts[i].description}}</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                            <p style="color:rgb(134, 134, 134);font-size:10px;padding-top: 1rem;">Posted by:-{{users[i]}}<br/>Posted on:-{{posts[i].date}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% elif i%3==2 %}
        <!-- Project Two Row-->
        {% set fname='/assets/img/' + posts[i].img%}
        <div class="row gx-0 mb-5 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{{url_for('static',filename= fname)}}" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">{{posts[i].heading}}</h4>
                            <p class="mb-0 text-white-50">{{posts[i].description}}</p>
                            
                            <hr class="d-none d-lg-block mb-0 me-0" />
                            <p style="color:rgb(134, 134, 134);font-size:10px;padding-top: 1rem;">Posted by:-{{users[i]}}<br/>Posted on:-{{posts[i].date}}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
    {% if number>0 %}
    <a class="btn btn-primary float-start" href="{{number-1}}"><- Newer</a>
    {% endif %}
    {% if no_of_pages>number+1 %}
    <a class="btn btn-primary float-end" href="{{number+1}}">Older -></a>
    {% endif %}

    </div>
</section>


{%endblock%}